/* PAYMENT FORM */

.submit-payment{
    width: 100%;
    color: white;
    background-color: black;
    margin-bottom: 15px;
    border-radius: 5px;
}

.submit-payment:hover, .submit-payment:disabled{
    background-color: rgba(0, 0, 0, 0.89);
}

.previous{
    width: 25%;
    background-color: transparent;
    border-radius: 5px;
}

.previous:hover, .previous:disabled{
    background-color: rgba(0, 0, 0, 0.11);
}

.card-element-div{
    margin-top: 15px;
    margin-bottom:18px;
}

/* PAYMENT ITEMS */

.payment-items{
    margin-bottom: 32px;
}

/* PAYMENT ITEM */

.payment-item-div{
    border-bottom: 2px solid rgba(0, 0, 0, 0.178);
    display: flex;
    justify-content: space-between;
}

.payment-item-div {
    margin-bottom: 8px;
}

.payment-total{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 16px;
}

.checkout-payment h2{
    margin-bottom: 10px;
    text-decoration: underline;
}

.payment-item-div p {
    margin-bottom: 10px;
}


