/* ORDER ITEMS DIV */

.order-items{
    border-top: 2px solid rgba(0, 0, 0, 0.178);
}

/* SINGLE ORDER DIV */

.single-order{
    min-height: calc(100vh - 175px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-order h2{
    font-family: 'Bentham';
    font-size: 2em;
    margin-bottom: 16px;
    text-decoration: underline;
}

.single-order h3{
    font-family: 'Teko';
    font-size: 2em;
    margin-bottom: 4px;
    text-decoration: underline;
}

/* ORDER CONTENTS DIV */

.order-contents{
    margin-bottom: 20px;
    width: 65vh;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

/* ORDER ADDRESS */

.order-address{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

/* ORDER ITEMS */

.order-items-head{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(0, 0, 0, 0.178);
}

.order-item{
    
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(0, 0, 0, 0.178);
}

.order-item-title{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.order-item p, .order-address p {
    margin-bottom: 5px;
}