/* FONTS */



/* CART DIV */

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.cart h2{
    font-family: 'Teko';
    font-size: 2em;
    margin: 25px 0px;
}

.cart h3{
    font-size: 1.15em;
}

.cart-checkout{
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*
.cart a{
    margin-top: 10px;
    height: 35px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
*/

.to-checkout{
    margin-top: 10px;
    height: 35px;
    width: 100%;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

/* CART ITEM DIV */

.cart-item{
    display: flex;
    width: 50%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.178);
}

.cart-item img{
    width: 120px;
    height: 120px;
}

/* cart item details */

.cart-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-desc{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cart-brnd{
    color: rgba(0, 0, 0, 0.733);
}

/* CART ACTIONS */

.cart-actions{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cart-quantity{
    display: flex;
    justify-content: space-evenly;
}

.calculate{
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.cart-remove{
    background-color: white;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

/* .cart a:hover */

.calculate:hover, .to-checkout:hover {
    background-color: rgba(0, 0, 0, 0.89);
}

.cart-remove:hover{
    color: rgba(0, 0, 0, 0.89);
}

@media only screen and (max-width: 768px){
    .cart-item{
        width: 90%;
    }
}