/* PROFILE DIV */

.profile{
    width: 65vh;
    max-width: 90%;
}

.profile h2{
    font-family: 'Teko';
    font-size: 2em;
}

/* PROFILE FIELDS */

.account-value{
    display: flex;
}

/* BUTTONS DIV */

.info-buttons {
    display: flex;
    justify-content: space-between;
}

.profile button, .info-submit, .updt-pw{
    height: 35px;
    width: 49%;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.updt-pw{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.profile button:hover, .info-submit:hover, .updt-pw:hover {
    background-color: rgba(0, 0, 0, 0.89);
}