/* PROFILE DIV */

.profile{
    width: 65vh;
    max-width: 90%;
}

.profile h2{
    font-family: 'Teko';
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 10px;
}

/* PROFILE FIELDS */

.account-value{
    display: flex;
    margin-bottom: 4px;
}

.account-value input {
    width: 100%;
    height: 21px;
}

.account-value p {
    white-space: nowrap;
    margin-right: 5px;
}

/* BUTTONS DIV */

.info-buttons {
    display: flex;
    justify-content: space-between;
}

.profile button, .info-submit, .updt-pw{
    height: 35px;
    width: 49%;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.updt-pw{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.profile button:hover, .info-submit:hover, .updt-pw:hover {
    background-color: rgba(0, 0, 0, 0.89);
}

/* PROFILE MEDIA QUERY */

@media only screen and (max-width: 768px){
    .profile{
        min-width: 80%;
    }
}
