/* CHECKOUT DIV */

.checkout{
    width: 100vw;
    min-height: 100vh;
    top: 0;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(40px);
}

/* checkout form */

.checkout form{
    min-width: 50%;
    max-width: 90%;
}

.checkout form button{
    height: 35px;
    border: none;
    cursor: pointer;
}

.checkout form button:disabled{
    cursor: not-allowed;
}

.cancel-checkout{
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.cancel-checkout:disabled{
    cursor: not-allowed;
}

/* CHECKOUT MEDIA QUERY */

@media only screen and (max-width: 768px){
    .checkout form{
        min-width: 80%;
    }
}
