/* NOT FOUND DIV */

.not-found{
    height: calc(100vh - 175px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bentham';
    font-size: 2em;
}

.not-found p{
    background: linear-gradient(to right bottom, rgba(150, 193, 241, 0.5), rgba(236, 77, 228, 0.26), rgba(255, 123, 0, 0.192));
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.116);
}

@media only screen and (min-width: 381px){
    .not-found{
        height: calc(100vh - 175px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bentham';
        font-size: 2em;
    }
}

@media only screen and (max-width: 380px){
    .not-found{
        height: calc(100vh - 175px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bentham';
        font-size: 1.5em;
    }
}