/* Header Div */

.header {
    position: relative;
    height: 100px;
    width: 100%;
    font-family: 'Teko';
    display: flex;
    z-index: 10;
    background: linear-gradient(to right bottom, rgba(150, 193, 241, 0.5), rgba(236, 77, 228, 0.26), rgba(255, 123, 0, 0.192));
    border-radius: 0px 0 15px 15px;
}


/* LOGO */

.logo img{
    height: 100px;
    width: 215px;
}

.logo {
    margin-left: 28px;
}

.logo, .user_actions, nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img:hover{
    filter: drop-shadow(0px 0px 2px #6610d63a);
}

/* NAV AND LOGIN DIV */

.selection{
    font-size: 2.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* NAV */

.desktop-nav {
    width: 100%;
    justify-content: space-evenly;
}

/* DROPDOWN FOR CATEGORIES */

.dropdown{
    position: relative;
    display: inline-block;
}

.brands-drop{
    text-align: center;
    min-width: 200px;
    left: -55px;
}

.dropdown-content, .brands-drop{
    position: absolute;
    display: none;
    align-items: center;
    padding: 10px 0px;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
}

.dropdown-content {
    left: -145px;
}

.dropdown-content p{
    font-size: 0.9em;
    padding: 0px 10px;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.dropdown a:hover{
    color: rgba(0, 0, 0, 0.692);
}

/* show dropdown menu */

.dropdown:hover .dropdown-content{
    display:flex;
    align-items: center;
}

.dropdown:hover .brands-drop{
    display: block;
}

/* USER ACTIONS (LOGIN or USER options) */
.actions-div{
    background-color: black;
    margin-right: 32px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    border-radius: 0 0 0 20px;
}

.user_actions{
    position: relative;
    display: inline-block;
    height: auto;
}

.user_actions a {
    color:white;
    text-decoration: none;
}

.user_actions p {
    vertical-align: middle;
}

/* user actions dropdown div */

.actions{
    background-color: black;
    position: absolute;
    display: none;
    left: -5px;
    padding: 0px 5px;
    
}

.logout{
    color: black;
    cursor: pointer;
}

.user_actions:hover .actions{
    display: block;
}

@media only screen and (max-width: 768px){
    
    .logo img{
        height: 50px;
        width: 108px;
    }
    
    .selection{
        display: none;
    }
}