/* product preview div */

.prod-preview{
    width: 40vh;
    max-width: 95%;
}

/* thumbnail */

.prod-preview img {
    width: 100%;
    height: auto;
}

/* product preview div */

.preview-desc{
    visibility: hidden;
    text-align: center;
}

.preview-desc h2{
    font-size: 1.2em;
}

.preview-desc p{
    margin-top: 3px;
}

.preview-brnd{
    color: rgba(0, 0, 0, 0.733);
}

/* making product description visible */

.prod-preview:hover .preview-desc{
    visibility: visible;
}