/* products list div */

.product-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px){
    .product-list{
        width: 60%;
    }
}

@media only screen and (max-width: 480px){

    .product-list{
        width: 90%;
    }

}