/* PRODUCT PAGE DIV */

.product-page{
    min-height: calc(100vh - 175px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height:auto;
    margin-right: 20px;
}

.product img {
    width: 90%;
    height: auto;
}

.nav-arrow{
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    cursor: pointer;
}

.nav-arrow:hover{
    background-color: rgba(0, 0, 0, 0.123);
}

/* SIZE AND ADD TO CART */

.product form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.product form select{
    height: 35px;
}

.product form a, .product form button{
    margin-top: 10px;
    height: 35px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product form a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.product form a:hover, .product form button:hover{
    background-color: rgba(0, 0, 0, 0.89);
}


/* PRODUCT INFO */

.prod-info h2 {
    font-family: 'Bentham';
    font-size: 2.7em;
}

.prod-info{
    margin: 20px 0;
    width: 30%;
    max-width: 50%;
}

.prod-manu{
    color: rgba(0, 0, 0, 0.733);
    margin-bottom: 5px;
}

.prod-price{
    font-size: 1.3em;
    margin-bottom: 5px;
}

.prod-desc{
    margin: 8px 0px;
    line-height: 1.2;
}

/* PRODUCT PAGE MEDIA QUERY */

@media only screen and (max-width: 768px){
    .product{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .prod-image-div{
        width: 90%;
        margin-right: 0;
    }

    .prod-info{
        min-width: 90%;
    }

    .prod-info h2{
        font-size: 2.2em;
    }

}

@media only screen and (max-width: 320px){
    .product{
        flex-direction: column;
        font-size: 0.9em;
        margin-bottom: 30px;
    }

    .prod-image-div{
        width: 90%;
        margin-right: 0;
    }

    .prod-info{
        min-width: 90%;
    }

    .prod-info h2{
        font-size: 1.8em;
    }
}