/* LOADER */

.loader-div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    height: 100px;
    width: 100px;
    animation: rotation 0.5s infinite linear;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}